*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: Arial;
}
.Contenedor{
  width: 600px;
  height: 460px;
  background-color: Skyblue;
  margin: auto;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
}
.ContenedorBotones{
  width: 90%;
  height: 100px;
  background-color: red;
  margin-top: 10px;
  margin: auto;
  display: block;
  flex-direction: row;
}
.BotonAtras{
  float: left;
  margin-left: 15px;
  width: 75px;
  height: 50px;
  background-color: yellow;
  margin-top: 25px;
}
.BotonAtras img{
  width: 35px;
}
.BotonDelante{
  margin-right: 15px;
  margin-top: 25px;
  width: 75px;
  height: 50px;
  background-color: yellow;
  float:right;
}
.BotonDelante img{
  width: 35px;
}
.ContenedorImagenes{
  width: 90%;
  height: 200px;
  background-color: blue;
  margin: auto;
  margin-top: 10px;
}
.ContenedorTexto{
  width: 90%;
  height: 100px;
  background-color: green;
  margin:auto;
  margin-top: 10px;
}
